{
  "app": {
    "signingConfigs": [
      {
        "name": "release",
        "type": "HarmonyOS",
        "material": {
          "certpath": "entry/material/youju.cer",
          "keyAlias": "youju",
          "keyPassword": "${env.BBB_RELEASE_STORE_PASSWORD}",
          "profile": "entry/material/youju.p7b",
          "signAlg": "SHA256withECDSA",
          "storeFile": "entry/material/youju.p12",
          "storePassword": "${env.BBB_RELEASE_STORE_PASSWORD}"
        }
      }
    ],
    "products": [
      {
        "name": "default",
        "targetSdkVersion": "6.1.1(24)",
        "compatibleSdkVersion": "6.1.1(24)",
        "runtimeOS": "HarmonyOS",
        "buildOption": {
          "strictMode": {
            "caseSensitiveCheck": true,
            "useNormalizedOHMUrl": true
          }
        }
      }
    ],
    "buildModeSet": [
      { "name": "debug" },
      { "name": "release" }
    ]
  },
  "modules": [
    {
      "name": "entry",
      "srcPath": "./entry",
      "targets": [
        {
          "name": "default",
          "applyToProducts": ["default"]
        }
      ]
    }
  ]
}
